@import "tailwindcss";

@theme {
  --color-background: var(--color-zinc-100);
  --color-foreground: var(--color-zinc-900);
  --color-muted: var(--color-zinc-300);
  --color-muted-foreground: var(--color-zinc-700);
  --color-primary: oklch(47.52% 0.083 186.96);
  --color-primary-foreground: var(--color-zinc-100);
  --color-accent: oklch(55.54% 0.101 179.71);
  --color-accent-foreground: oklch(57.26% 0.105 177.91);
}

@layer base {
  * {
    @apply border-primary;
  }

  body {
    @apply subpixel-antialiased bg-background text-foreground @max-sm:text-[87.5%];
  }

  strong,
  b {
    @apply font-bold;
  }

  em {
    @apply italic;
  }

  h1 {
    @apply text-2xl;
  }

  h2 {
    @apply text-xl;
  }

  h3 {
    @apply text-lg;
  }

  :focus {
    @apply outline-accent outline-none;
  }

  :focus-visible {
    @apply outline-2 outline-accent;
  }
}
